<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>

  <body>
    <div id="stories">
      <h1><%= @story[:character].name %></h1>
      <p><%= @story[:character].description %></p>
      <ul>
        <% @story[:stories].each do |story| %>
          <li>
            <img src=""><br>
            <%= story.title %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="characters">
      <ul>
        <% @story[:characters].each do |character| %>
          <li><%= character.name %></li>
        <% end %>
      </ul>
    </div>
  </body>

</html>
